@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Commissioner:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Homemade+Apple&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Script&family=Mrs+Saint+Delafield&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+RO:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Signika+Negative:wght@300..700&display=swap');


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.sect-1{
    display: flex;
    flex-direction: column;
    background-color: #010202;
}

header{
    padding: 16px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #010202;     
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    margin: 0;
}

.header-content-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    .logo-span-p{
        font-weight: 700;
    }
}

.header-li{
    display: flex;
    gap: 96px;
    align-items: center;
    ul{
        display: flex;
        justify-content: space-between;
        gap: 48px;
        li{
            list-style-type: none;
            a{
                font-family: Inter;
                font-size: 24px;
                font-weight: 500;
                color: white;
                text-decoration: none;
            }
            a:hover{
                color: #696A6E;
                border-bottom: #696A6E 3px solid;
            }
        }
    }
    button{
        all: unset;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 8px 40px;
        background-color: #010202;
        color: #fff;
        border: #fff 1px solid;
        font-size: 18px;
        font-family: Inter;
        font-weight: 500;
        border-radius: 12px;
            transition: background-color 0.3s ease;
    }
    button:active,button:hover{
        background-color: #fff;
        color: #010202;
        path{
            stroke:#010202;
        }
    }
}

.burger-menu-bnt{
    display: none;
    background-color: #010202;
}

.nav {
    display: none;
    position: absolute;
    top: 34px;
    right: 20px;
    padding: 24px;
    width: 343px;
    height: 419px;
    border-radius: 12px;
    background-color: #010202;
}

.nav-div-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        color: #CECECE;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
    }
}

.nav-ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    li{
        list-style-type: none;
        a{
            color: #FFFFFF;
            text-decoration: none;
            text-transform: lowercase;
            font-family: Inter;
            font-size: 32px;
            font-weight: 400;
        }
    }
}

.nav-a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: lowercase;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.nav.active {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header-div{
    display: flex;
    justify-content: center;
}

.header-div-content{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 88px;
    padding: 32px 48px;
    h1{
        font-size: 172px;
        font-family: Inter;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
    }
    p{
        color: #fff;
        font-size: 32px;
        font-family: Inter;
        font-weight: 400;
        line-height: 120%;
        text-align: end;
        color: #696A6E;
    }
    div{
        height: 24px;
    }

}

.sect-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 112px 48px;
}
.sect-2-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 80px;
    max-width: 1440px;

}

.sect-2-p{
    font-size: 48px;
    font-family: Inter;
    font-weight: 400;
    line-height: 120%;
}

.agn-p{
    display: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.size-btn2{
    width: 100%;
}

#btn2{
    all: unset;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 40px;
    background-color: #fff;
    color: #010202;
    border: #010202 1px solid;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

#btn2:active,#btn2:hover{
background-color: #000;

    color: #fff;
    path{
        stroke:#fff;
    }
}

.link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    a{
        font-size: 24px;
        font-family: Inter;
        font-weight: 500;
        color: #010202;
    }
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  flex: 0 0 90%; 
  overflow: hidden;
  display: flex;
  position: relative;
}

.slide img {
  width: 100%;     
  height: auto;    
  display: block;   
  object-fit: cover; 
}

.overlay {
    font-size: 1.5vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.overlay-content{
    width: 100%;
    padding: 150px 36px 36px;
}

.overlay-content-1{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.overlay-content-1-1{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
}

.overlay-content-1-p-1{
    font-size: 200%;
    font-weight: 400;
    font-family: Inter;
    color: #FFFFFF;
}

.overlay-content-1-p-2{
    font-weight: 400;
    font-family: Inter;
    color: #E8E8E8;
}

.overlay-content-2{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
        p{
        color: #FFFFFF;
        padding: 16px;
        background-color: #ffffff3c;
        border-radius: 100px;
        font-family: Inter;
        font-size: 100%;
        font-weight: 400;
    }
}

.overlay-content-2-content{
    display: flex;
    gap: 8px;
}

#slide-p{
    color: #000000;
}

.overlay-content-mobile{
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 0;
    height: 30%;
    flex-direction: column;
    padding: 0px 24px 40px;
    justify-content: space-between;
      overflow: hidden;
    z-index: 21;
}

.slider-button{
    all: unset;
    align-items: center;
    padding: 16px 24px;
    color: #fff;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
    border-radius: 100px;
    border: 2px #fff solid;

}

.shadow-div{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000004a;
    width: 100%;
    height: 100%;
    z-index: 20;
}

@media (max-width: 1400px) {
    h1{
        font-size: 124px !important;
    }
}

@media (max-width: 1024px) {
    .header-li{
        display: none;
    }
    .burger-menu-bnt{
        display: block;
    }
    h1{
        font-size: 84px !important;
    }
    .header-p{
        font-size: 20px !important;
    }
    .sect-2-p{
        font-size: 36px !important;
    }
    .slider{
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
}

@media (max-width: 768px) {
    h1{
        font-size: 64px !important;
    }
    .header-p{
        font-size: 16px !important;
    }
    .header-div-content{
        gap: 56px;
    }
    .sect-1{
        gap: 56px;
        padding-top: 64px;
    }
    header{
        padding: 0px 24px;
    }
    .header-div-content{
        padding: 0px 24px;
    }
    .logo-p{
        font-size: 24px;
        font-weight: 700;
    }
    .logo-span-p{
        font-size: 24px;
    }
    .sect-2-p{
        font-size: 32px !important;
    }
    .sect-2{
        padding: 56px 24px;
    }
    .nav{
        right: 0;
        width: 100% !important;
        height: auto;
    }
    .size-btn2{
        order: 2;
    }
    .link{
        flex-direction: column;
        gap: 24px;
        order: 3;
    }
    .agn-p{
        display: block;
    }
    .slider-button{
        display: flex;
    }
    .overlay-content{
        display: none;
    }
    .slide img{
        height: 75%;
    }
    .overlay{
        align-items: center;
    }

    .overlay-content-mobile{
        display: flex !important;
        gap: 8px;
    }

    .slide{
        width: 200%;
        overflow-x: hidden;
        justify-content: center;
    }.overlay-content-1-p-1{
        font-size: 36px;
    }
    .shadow-div{
        display: block;
    }
}

@media (max-width: 480px) {

    #btn2{
        width: 100%;
        padding: 16px 0px;
        display: flex;
        justify-content: center;
    }
    .sect-2-content{
        gap: 24px;
    }
}
